doctype html
html
	head
		title «Capacity»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/header
		include includes/intro
		include includes/features
		include includes/footer

		+header()
		+intro()
		+features()
		+footer()