.btn-primary {
	display: inline-block;
	padding: 8px 12px;
	background: $astral;
	border-radius: 2px;
	border: none;
	outline: none;
	@include font-bg-bold();
	font-size: 12px;
	line-height: 1em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

	&:disabled {
		background: rgba(40,40,40,.3);
	}
}

.btn-flat {
	display: inline-block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	@extend .txt-flat-button;

	&:disabled {
		color: rgba(40,40,40,.3);
	}
}