.btn-primary {
	display: inline-block;
	padding: 8px 12px;
	background: $astral;
	border-radius: 2px;
	@extend .txt-button;
	line-height: 1em;
	color: #fff;
	text-align: center;

	&:disabled {
		background: rgba(40,40,40,.3);
	}

	svg {
		display: inline-block;
		vertical-align: top;
		margin-right: 7px;
		overflow: visible;
	}

	&._white {
		opacity: .7;
		background: transparent;
		color: $mine-shaft-light;

		svg {

			path {
				fill: $mine-shaft-light;
			}
		}
	}
}

.btn-flat {
	display: inline-block;
	@extend .txt-flat-button;

	&:disabled {
		color: rgba(40,40,40,.3);
	}
}