.footer {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $astral;

	&__text {
		@include font-ssp-reg();
		font-size: 16px;
		line-height: 23 / 16 * 1em;
		color: #fff;
		text-align: center;
	}
}