.heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
    background: rgba(40,40,40,.2);
  }
}