.layout {
	max-width: 1280px;
	margin: 0 auto;

	&__aside {
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -640px;
		bottom: 0;
		overflow: visible;

		@media (max-width: 1280px) {
			left: 0;
			margin-left: 0;
		}
	}

	&__content {
		padding-top: 25px;
		padding-left: 68px;
		padding-right: 12px;
	}

	&__title {
		margin-bottom: 14px;
	}

	&__search {
		margin-bottom: 19px;
	}

	&__tabs {
		margin-bottom: 19px;
	}

	&__filter {
		margin-bottom: 8px;
	}

	&._nav-opened {

		.layout__content {
			padding-left: 224px;
		}
	}

	&-table {
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 1280px;
		//height: 100vh;
		margin: 0 auto;

		&__aside {
			display: table-cell;
			vertical-align: top;
			//height: 100%;
		}

		&__content {
			display: table-cell;
			vertical-align: top;
			height: 100vh;
			//min-height: 100vh;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}