.layout {

	&-table {
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 1280px;
		height: 100vh;
		margin: 0 auto;

		&__aside {
			display: table-cell;
			vertical-align: top;
			height: 100%;
		}

		&__content {
			display: table-cell;
			vertical-align: top;
			height: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}