.list-item {
	display: block;
	padding: 11px 92px 11px 11px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	&__photo {
		float: left;
	}

	&__image{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 78px;
		height: 78px;
		border: 4px solid #fff;
		border-radius: 50%;
		overflow: hidden;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__my-employee {
		display: none;
	}
	
	&._my-employee {
		
		.list-item {

			&__photo {
				border-color: $astral;
				position: relative;
			}

			&__image {
				border-color: $astral;
			}

			&__my-employee {
				display: block;
				position: absolute;
				right: 4px;
				bottom: -4px;
				max-width: 20px;
				max-height: 20px;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	&__name,
	&__position,
	&__location {
		margin-left: 90px;
	}

	&__status {
		display: none;
	}
	
	&__position {
		margin-bottom: 8px;
	}

	&__location {

		svg {
			display: inline-block;
			vertical-align: baseline;
			width: 7.07px;
			height: 9px;
			overflow: visible;

			path {
				fill: #616161;
			}
		}
	}

	&__experience,
	&__rate {
		display: none;
	}

	&__match {
		position: absolute;
		top: 18px;
		right: 15px;
	}
}

._lines {

	.list-item {
		padding: 6px 8px 6px;
		display: table;
		table-layout: fixed;
		width: 100%;

		&:after {
			display: none;
		}

		&__photo {
			padding-right: 8px;
			width: 43px;
			float: none;
			display: table-cell;
			vertical-align: middle;
		}

		&__image {
			width: 35px;
			height: 35px;
			border: none;
		}

		&._my-employee {

			.list-item {

				&__my-employee {
					display: none;
				}
			}
		}

		&__name,
		&__position,
		&__location,
		&__experience,
		&__rate,
		&__match {
			margin: 0;
			display: table-cell;
			vertical-align: middle;
		}

		&__status {
			display: inline-block;
			vertical-align: baseline;
			margin-left: 10px;
			padding: 7px 11px 9px 11px;
			border-radius: 14px;
			@include font-ssp-sb();
			font-size: 12px;
			line-height: 1em;
			color: $astral;
			background: rgba(60,138,158,.2);
		}

		&__position {
			width: 123 / 1012 * 100%;
		}

		&__location {
			width: 121 / 1012 * 100%;
		}

		&__experience {
			width: 118 / 1012 * 100%;
		}

		&__rate {
			width: 125 / 1012 * 100%;
		}

		&__match {
			width: 105 / 1012 * 100%;
		}

		&__match {
			position: relative;
			top: auto;
			right: auto;
		}
	}
}