.match {
	position: relative;

	&__value {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		display: block;
		@include font-bg-bold();
		font-size: 22px;
		line-height: 26 / 22 * 1em;
		color: $pomegranate;
		text-align: center;
	}

	&__image {
		width: 62px;
		height: 62px;
		transform: rotate(-90deg);

		&._lines {
			width: 38px;
			height: 38px;
			margin: 0 auto;
			display: none;
		}
	}

	&__bg {
		stroke-width: 3px;
		stroke: #eee;
	}

	&__bar {
		stroke-width: 3px;
		stroke: $pomegranate;
	}

	&._high {

		.match {

			&__value {
				color: $chateau-green;
			}

			&__bar {
				stroke: $chateau-green;
			}
		}
	}

	&._medium {

		.match {

			&__value {
				color: $bright-sun;
			}

			&__bar {
				stroke: $bright-sun;
			}
		}
	}
}

&._lines {

	.match {

		&__image {
			display: none;

			&._lines {
				display: block;
			}
		}

		&__value {
			font-size: 18px;
		}
	}
}