.modal {
	margin: 0 auto;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	background: #fff;
	border-radius: 4px;
	overflow: hidden;

	&__header {
		padding: 15px;
		display: table;
		table-layout: fixed;
		min-width: 100%;
		background: $concrete;
		box-shadow: inset 0 -1px 0 0 rgba(40,40,40,.2);
		border-radius: 4px 4px 0 0;
	}

	&__photo {
		display: table-cell;
		vertical-align: top;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		line-height: 0;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__person {
		display: table-cell;
		vertical-align: middle;
		padding: 0 12px;
	}

	&__name {
		line-height: 26 / 18 * 1em;
	}

	&__role {
		line-height: 20 / 18 * 1em;
	}

	&__match {
		display: table-cell;
		vertical-align: top;
		width: 50px;
	}

	&__content {
		display: table;
		table-layout: fixed;
	}

	&._slim {

		.modal__content {
			display: block;
			width: 375px;
		}
	}

	&__info {
		display: table-cell;
		vertical-align: top;
		width: 375px;
		min-width: 375px;
		padding: 20px;
		background: #fff;
		border-radius: 0 0 0 4px;

		.row {
			margin-bottom: 11px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h4 {
			margin-bottom: 2px;
			line-height: 18/ 12 * 1em;
			text-transform: uppercase;
		}

		p {
			@include font-ssp-reg();
			font-size: 14px;
			line-height: 18 / 14 * 1em;
			color: $mine-shaft;
		}
	}

	&._slim {

		.modal__info {
			display: block;
			width: auto;
			padding-bottom: 0;
		}
	}

	&__form {
		display: table-cell;
		vertical-align: top;
		min-width: 235px;
		width: 235px;
		padding: 20px 20px 58px;
		background: $concrete url('../img/curve.jpg') no-repeat center bottom;
		border-radius: 0 0 4px 0;
		position: relative;

		h4 {
			margin-bottom: 13px;
			@include font-bg-med();
			font-size: 10px;
			line-height: 1em;
			color: rgba(40,40,40,.8);
			text-transform: uppercase;
		}

		.radio {
			margin-bottom: 11px;
		}
	}

	&._slim {

		.modal__form {
			display: block;
			width: auto;
			padding-top: 0;
			padding-bottom: 64px;
			background: #fff;
		}
	}

	&__input {
		margin-top: 18px;
	}

	&__buttons {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-size: 0;
	}

	&__cancel {
		vertical-align: bottom;
		margin-right: 16px;
	}

	&__submit {
		vertical-align: bottom;
	}
}