.request {

  &__company {
    margin-bottom: 10px;
    font-size: 0;
  }

  &__company-title {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 15px;
    @extend .txt-title-1;
    line-height: 26 / 18 * 1em;
  }

  &__location {
    display: inline-block;
    vertical-align: baseline;
    @extend .txt-caption;
    line-height: 14 / 11 *1em;
    color: $mine-shaft;

    svg {
      margin-right: 3px;
      overflow: visible;
    }
  }

  &__period,
  &__hours,
  &__payout {
    @extend .txt-body;
    line-height: 20 / 14 * 1em;
    color: $mine-shaft;
  }

  &__time {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    span {
      margin: 0 6px;
    }
  }

  &__payout {
    margin-bottom: 10px;
  }

  &__desc {
    margin-bottom: 15px;
  }

  &__desc-text {
    @extend .txt-body;
    line-height: 18 / 14 * 1em;
  }
}