.select {
  padding: 16px 0 5px;

  &__title {
    padding-right: 10px;
    border-bottom: 1px solid rgba(40,40,40,.15);
    cursor: pointer;
    position: relative;

    span {
      display: block;
      padding-bottom: 2px;
      @extend .txt-hint;
      line-height: 2em;
      color: rgba(40,40,40,.8);
      text-transform: uppercase;
    }

    svg {
      content: '';
      position: absolute;
      top: 9px;
      right: 0;
      width: 9px;
      height: 5px;
    }
  }
}