.tag {
  display: inline-block;
  vertical-align: top;
  padding: 6px 11px;
  border: 1px solid rgba(40,40,40,.2);
  border-radius: 14px;
  @include font-ssp-sb();
  font-size: 14px;
  line-height: 1em;
  color: $astral;
}