mixin modal-confirm()
    .modal-confirm.modal
        img(src='../src/img/svg/icon_confirmation.svg').modal-confirm__image
        h4.modal-confirm__title.txt-title-1 Completed Successful Action!
        p.modal-confirm__text This is a description of the successful action, and guidance on what to expect next.
        button.modal-confirm__close.btn-flat Close