mixin section-header()
    header.section-header
        .section-header__photo
            img(src='img/edna-christensen.png')
        .section-header__person
            .section-header__name.txt-title-1 Kyle Perez
            button.btn-flat Remove Image